name: Test

on: push

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]
        os: [ ubuntu-20.04, macos-10.15, windows-2019 ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v2.1.0
        with:
          poetry-version: 1.1.4

      - name: Install dependencies
        run: |
          pip install poetry-core==1.0.0
          poetry install

      - name: Run tests
        run: poetry run pytest
        env:
          RESERVOIR_PROVIDER: aws
          RESERVOIR_REGION: eu-west-1
          RESERVOIR_ACCOUNT: sdk-testing-py
          RESERVOIR_USER: test
          RESERVOIR_PASSWORD: ${{ secrets.RESERVOIR_PASSWORD }}

      - name: Run typecheck
        run: poetry run mypy .
